<div class="modal buy_now">
    <h2><span class="buy">Buy</span><span class="now">Now</span></h2>
    <ul class="product_list">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <form action="">
        <label for="">
            Personal information
            <input type="name" id="name" placeholder="Name">
            <input type="name" id="surname" placeholder="Surname">
        </label>
        <label for="">
            Email
            <input type="email" id="email" placeholder="Email">
        </label>
        <label for="">
            Phone number
            <input type="tel" id="tel" placeholder="Phone number">
        </label>
        <label for="">
            Card number
            <input type="number" id="number" placeholder="Enter card">
        </label>
        <label for="">
            Comment
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter text"></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
    <button class="close_btn ">X</button>
</div>