<footer id="down" class="footer">
  <div class="container">
    <div class="footer-upper">
      <div class="footer-upper-first">
        <p class="footer-upper-first-text">
          <span class="footer-upper-first-text footer-upper-first-text-color"
            >Chocolate</span
          >
          a delicious <br />
          cure for a bad day
        </p>
      </div>
      <div class="footer-upper-second">
        <address class="footer-addres">
          <p class="footer-upper-second-text">Contact us</p>
          <ul class="footer-addres-list">
            <li class="footer-addres-item list">
              <a class="link-none footer-phone" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="list footer-addres-item">
              <a
                class="link-none footer-mail"
                href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <ul class="footer-social-list">
          <li class="footer-social-list-item list">
            <a
              class="footer-social-list-link link-none"
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon">
                <use href="./img/symbol-defs.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list-item list">
            <a
              class="footer-social-list-link link-none"
              href="https://twitter.com/?lang=uk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon">
                <use href="./img/symbol-defs.svg#icon-twit"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom-list">
        <li class="list footer-bottom-list-item">
          <a class="link-none footer-bottom-list-link" href="../index.html"
            >Home</a
          >
        </li>
        <li class="list footer-bottom-list-item">
          <a class="link-none footer-bottom-list-link" href="#how-its-made"
            >How it&#x2019;s made?</a
          >
        </li>
        <li class="list footer-bottom-list-item">
          <a class="link-none footer-bottom-list-link" href="#products"
            >Our products</a
          >
        </li>
        <li class="list footer-bottom-list-item">
          <a class="link-none footer-bottom-list-link" href="#sellers"
            >Top sellers</a
          >
        </li>
        <li class="list footer-bottom-list-item">
          <a class="link-none footer-bottom-list-link" href="#review"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
