<section class="hero-section">
  <div class="container">
    <div class="hero-view">
      <!-- Це буде прихований заголовок додати клас хіден як скрізь -->
      <h1 class="visually-hidden">
        High quality chocolate crafted from the finest ingredients
      </h1>
      <h2 class="hero-key-message">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <!-- Кнопки і посилання у секції Герой -->
      <div class="hero-ref">
        <!-- Кнопка Buy now, вона відкриває модальне вікно -->
        <button type="button" class="hero-buy-btn" buy-now-modal-open-hero>
          Buy now
        </button>
        <!-- Посилання на секцію How it's made -->
        <a href="#how-its-made" class="hero-made"> How it's made </a>
        <!-- Посилання Scroll down -->

        <a href="#down" class="hero-scroll-pic"
          >scroll down
          <span class="hero-circle-white">
            <svg class="hero-scroll-icon" width="40" height="20">
              <use href="./img/symbol-defs.svg#icon-angle"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
