<section class="section">
  <div class="container">
    <h2 class="how-its-made-title">
      how it's <span class="how-its-made-title-ogange">made?</span>
    </h2>
    <div class="how-its-made-wrapper">
      <div class="how-its-made-video-wrapper"></div>
      <div class="how-its-made-text-wrapper">
        <h3 class="how-its-made-list-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-its-made-list">
          <li class="how-its-made-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
