<div class="modal-form-for-feedback">
  <button type="button" class="modal-close-feedback-btn">
    <svg class="modal-close--feedback-button-icon" width="16" height="16">
      <use href="../img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <p class="modal-form-for-feedback-title">
    <span class="thanks-feedback">thank you </span>for your feedback!
  </p>
  <p class="modal-form-for-feedback-text">
    <span class="thanks-feedback-text">We are so happy to hear</span> from you!
  </p>
</div>
