<div class="modal-form-for-feetback">
  <button type="button" class="modal-close-feetback-btn">
    <svg class="modal-close--feetback-button-icon" width="16" height="16">
      <use href="../img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <p class="modal-form-for-feetback-title">
    <span class="thanks-feetback">thank you </span>for your feedback!
  </p>
  <p class="modal-form-for-feetback-text">
    <span class="thanks-feetback">We are so happy to hear</span> from you!
  </p>
</div>
