<section class="products">
  <div class="container">
    <h2 class="products-title">Our <span>Products</span></h2>
    <ul class="products-list">
      <li class="products-item">
        <a href="" class="products-link"
          ><img
            srcset="
              ./img/mobile/orange-tel.jpg    1x,
              ./img/mobile/orange-tel@2x.jpg 2x
            "
            src="./src/img/mobile/orange-tel.jpg"
            alt="Orange Chocolate Bar"
            width="230"
        /></a>
        <h3 class="products-name">ORANGE</h3>
        <p class="products-description">Dark Chocolate</p>
        <button type="button" class="products-button">
          <p class="products-price">45 UAH</p>
        </button>
      </li>
      <li class="products-item">
        <a href="" class="products-link"
          ><img
            srcset="
              ./img/tablet/apple-cranberry@.jpg   1x,
              ./img/tablet/apple-cranberry@2x.jpg 2x
            "
            src="./img/tablet/apple-cranberry@.jpg"
            alt="Apple & Cranberry Chocolate Bar"
            width="230"
        /></a>
        <h3 class="products-name">APPLE&CRANBERRY</h3>
        <p class="products-description">Milk Chocolate</p>
        <button type="button" class="products-button">
          <p class="products-price">50 UAH</p>
        </button>
      </li>
      <li class="products-item">
        <a href="" class="products-link"
          ><img
            srcset="
              ./img/tablet/lime-sea-salt.jpg    1x,
              ./img/tablet/lime-sea-salt@2x.jpg 2x
            "
            src="./img/tablet/lime-sea-salt.jpg"
            alt="Lime & Sea Salt Chocolate Bar"
            width="230"
        /></a>
        <h3 class="products-name">LIME&SEA SALT</h3>
        <p class="products-description">Dark Chocolate</p>
        <button type="button" class="products-button">
          <p class="products-price">66 UAH</p>
        </button>
      </li>
      <li class="products-item">
        <a href="" class="products-link"
          ><img
            srcset="
              ./img/desktop/pineapple.jpg    1x,
              ./img/desktop/pineapple@2x.jpg 2x
            "
            src="./img/desktop/pineapple.jpg"
            alt="Pineapple Chocolate Bar"
            width="230"
        /></a>
        <h3 class="products-name">PINEAPPLE</h3>
        <p class="products-description">Dark Chocolate</p>
        <button type="button" class="products-button">
          <p class="products-price">54 UAH</p>
        </button>
      </li>
    </ul>
    <ul class="products-slider-buttons">
      <li>
        <svg width="28" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-oval"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
      <li>
        <svg width="13" height="13">
          <use
            class="products-slider-icon"
            href="./img/symbol-defs#icon-circle"
          ></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
