<section class="reviews">
  <div class="container">
    <h2 class="reviews-big-title">
      <span class="review-accent">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="review-item">
        <img src="" alt="" class="review-img" />
        <h3 class="review-smale-title">Victoria Dobrzhanska</h3>
        <p class="review-text-p">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-item">
        <img src="" alt="" class="review-img" />
        <h3 class="review-smale-title">Nazar Babenko</h3>
        <p class="review-text-p">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-item">
        <img src="" alt="" class="review-img" />
        <h3 class="review-smale-title">Olena Kampusch</h3>
        <p class="review-text-p">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button class="review-button">Leave a review</button>
  </div>
</section>
