<section id="review" class="reviews">
  <div class="container">
    <h2 class="reviews-big-title">
      <span class="review-accent">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="review-item">
        <picture>
          <source
            srcset="
              ./img/mobile/victoria-dobrzhanska.png    1x,
              ./img/mobile/victoria-dobrzhanska@2x.png 2x
            "
          />

          <img
            class="review-img"
            src="./img/mobile/victoria-dobrzhanska.png"
            alt="Victoria Dobrzhanska review"
            width="80"
            height="80"
          />
        </picture>
        <h3 class="review-smale-title">Victoria Dobrzhanska</h3>
        <p class="review-text-p">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-item">
        <div class="reviews-cont-img">
          <picture>
            <source
              srcset="
                ./img/tablet/nazar-babenko.png    1x,
                ./img/tablet/nazar-babenko@2x.png 2x
              "
            />

            <img
              class="review-img"
              src="./img/tablet/nazar-babenko.png"
              alt="Nazar Babenko review"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="review-smale-title">Nazar Babenko</h3>
        </div>
        <p class="review-text-p">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-item">
        <picture>
          <source
            srcset="
              ./img/desktop/olena-kampusch.png    1x,
              ./img/desktop/olena-kampusch@2x.png 2x
            "
          />

          <img
            class="review-img"
            src="./img/desktop/olena-kampusch.png"
            alt="Olena Kampusch review"
            width="80"
            height="80"
          />
        </picture>
        <h3 class="review-smale-title">Natalia Sus</h3>
        <p class="review-text-p">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="review-item">
        <picture>
          <source
            srcset="
              ./img/mobile/victoria-dobrzhanska.png    1x,
              ./img/mobile/victoria-dobrzhanska@2x.png 2x
            "
          />

          <img
            class="review-img"
            src="./img/mobile/victoria-dobrzhanska.png"
            alt="Victoria Dobrzhanska review"
            width="80"
            height="80"
          />
        </picture>
        <h3 class="review-smale-title">Danilo Nottingham</h3>
        <p class="review-text-p">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="review-item">
        <div class="reviews-cont-img">
          <picture>
            <source
              srcset="
                ./img/tablet/nazar-babenko.png    1x,
                ./img/tablet/nazar-babenko@2x.png 2x
              "
            />

            <img
              class="review-img"
              src="./img/tablet/nazar-babenko.png"
              alt="Nazar Babenko review"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="review-smale-title">Irina Tydnyuk</h3>
        </div>
        <p class="review-text-p">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="review-item">
        <picture>
          <source
            srcset="
              ./img/desktop/olena-kampusch.png    1x,
              ./img/desktop/olena-kampusch@2x.png 2x
            "
          />

          <img
            class="review-img"
            src="./img/desktop/olena-kampusch.png"
            alt="Olena Kampusch review"
            width="80"
            height="80"
          />
        </picture>
        <h3 class="review-smale-title">Olena Kampusch</h3>
        <p class="review-text-p">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <button class="review-button" type="button" leave_a_review_about-open>
      Leave a review
    </button>
  </div>
</section>

<!-- MODAL -->
<div class="backdrop is-hidden" leave_a_review_about-modal>
  <div class="modal_reviews" leave_a_review_about-modal>
    <button type="button" class="close-btn-reviews" leave_a_review_about-close>
      <svg class="modal-close-icon-reviews" width="12" height="12">
        <use href="../img/symbol-defs.svg#close-modal"></use>
      </svg>
    </button>
    <h2 class="reviews-form-title">
      leave a review about
      <span class="reviews-form-title-orang"> our chocolate </span>
    </h2>
    <form class="form-modal">
      <div class="form-inputs">
        <label class="form-label">
          <input
            type="text"
            name="user_name"
            class="input-descrip"
            required
            pattern="^[a-zA-Zа-яА-Я]+$"
            minlength="2"
            placeholder="Name"
          />
        </label>

        <label class="form-label">
          <input
            type="email"
            name="user_email"
            class="input-descrip"
            required
            placeholder="Enter your email"
          />
        </label>

        <label class="form-label">
          <span class="input-relative">
            <input
              type="tel"
              name="user_phone"
              class="input-descrip input-descrip-tel"
              required
              pattern="^[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              title="xxx-xxx-xx-xx"
              placeholder="Phone number"
            />
            <span class="text-flex">
              <svg class="icon-input" width="24" height="24">
                <use href="../img/symbol-defs.svg#frame"></use>
              </svg>
              <span class="tel-text">+380</span>
            </span>
          </span>
        </label>

        <label class="form-label">
          <textarea
            name="user_comment"
            class="user-comment"
            placeholder="Enter text"
          ></textarea>
        </label>
      </div>

      <button type="submit" class="modal-form-btn-reviews">Send</button>
    </form>
  </div>
</div>
