<section class="section-subscribe">
  <div class="container">
    <div class="box-subscribe">
      <h2 class="title-subscribe">exPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="text-subscribe">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button class="subscribe-btn" type="button" data-modal-open-subscribe>
      Subscribe
    </button>
  </div>
</section>
<!-- is-hidden -->

<!--   -->
<div class="backdrop-subscribe is-hidden" data-modal-subscribe>
  <div class="modal_subscribe">
    <button
      type="button"
      class="subscribe-modal-close-btn"
      data-modal-close-subscribe
    >
      <svg class="subscribe-modal-close-btn-icon">
        <use
          href="./img/symbol-defs.svg#icon-close-btn-x"
          width="12"
          hight="12"
        ></use>
      </svg>
    </button>
    <h2 class="modal-title-subscribe">
      Explore our <br />
      <samp class="span-subscribe">new chocolate</samp> first!
    </h2>
    <div class="subscribe-input-btn">
      <form class="subscribe-modal-form">
        <label class="subscribe-modal-form-field">
          <span class="subscribe-form-input-desc">
            <input
              type="email"
              name="user-mail"
              placeholder="Enter your email"
              class="modal-form-input-subscribe"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
          </span>
        </label>
        <button type="submit" class="subscribe-btn subscribe-btn-modal">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
