<section class="section-subscribe">
  <div class="container">
    <div class="box-subscribe">
      <h2 class="title-subscribe">exPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="text-subscribe">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button type="button" class="subscribe-btn button">Subscribe</button>
  </div>
  
</section>


<div class="modal-subscribe">

<img class="img-subscribe" src="../img/mobile/explore-our-new-chocolate-first-tel-2.jpg" alt="dark chocolate" width="311">
<!-- <div class="backdrop is-hidden" data-modal> -->
    <div class="">
      <!-- <button type="button" class="modal-clase-btn" data-modal-close>
        <svg class="modal-close-btn-icon">
          <use
            href="./images/sprite.svg#icon-close-btn"
            width="8"
            hight="8"
          ></use>
        </svg>
      </button> -->
      <div class="subscribe-modal">
      <h2 class=" modal-title-subscribe">
        Explore our <samp class="span-subscribe">new chocolate</samp> first!
      </h2>
      <form class="subscribe-modal-form">
        <label class="modal-form-field">
            <span class=" subscribe-form-input-desc">
              <input
                type="email"
                name="user-mail"
                placeholder="Enter your email"
                class="modal-form-input-footer footer-br-mail modal-form-mail-footer"
                required
                pattern="5"
                
              />
            </span>

            
          </label>
        <button type="submit" class="subscribe-btn subscribe-btn-modal">Submit</button>
      </form>
    </div>
    </div>
</div>
  <!-- </div> -->


