<section class="unique-components">
  <div class="container">
    <div class="unique-components-tablet-box">
      <h1 class="unique-components-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="orange-word">TASTE</span> SENSATION
      </h1>
      <p class="unique-components-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="unique-components-list">
      <li class="unique-components-item list">
        <div class="unique-component-box">
          <div class="unique-box-front milk-chocolate">
            <div class="unique-content">
              <picture>
                <source
                  srcset="
                    ../img/desktop/milk-white-chocolate-bar-comp.png    1x,
                    ../img/desktop/milk-white-chocolate-bar-comp@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../img/mobile/milk-white-chocolate-bar-tel.png    1x,
                    ../img/mobile/milk-white-chocolate-bar-tel@2x.png 2x
                  "
                  media="(min-width: 375px)"
                />
                <img
                  class="unique-components-img"
                  src="../img/mobile/milk-white-chocolate-bar-tel.png"
                  alt="milk chocolate"
                  width="224"
                  height="171"
                />
              </picture>
              <h2 class="unique-components-img-title">MILK CHOCOLATE</h2>
            </div>
          </div>
          <div class="unique-box-back">
            <div class="unique-content">
              <h3 class="hidden-box-title">Milk chocolate</h3>
              <ul class="unique-list-btn">
                <li>
                  <button class="unique-btn active-btn" type="button">
                    chocolate
                  </button>
                </li>
                <li>
                  <button class="unique-btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="unique-text-back">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe,
                increasingly large amounts are consumed
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item list">
        <div class="unique-component-box">
          <div class="unique-box-front">
            <div class="unique-content">
              <picture>
                <source
                  srcset="
                    ../img/desktop/unique-components-milk-comp.png    1x,
                    ../img/desktop/unique-components-milk-comp@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../img/mobile/unique-components-milk-tel.png    1x,
                    ../img/mobile/unique-components-milk-tel@2x.png 2x
                  "
                  media="(min-width: 375px)"
                />
                <img
                  class="unique-components-img"
                  src="./img/mobile/unique-components-milk-tel.png"
                  alt="bottle milk"
                  width="224"
                />
              </picture>
              <h2 class="unique-components-img-title dark-title">MILK</h2>
            </div>
          </div>
          <div class="unique-box-back">
            <div class="unique-content">
              <h3 class="hidden-box-title">Milk</h3>
              <ul class="unique-list-btn">
                <li>
                  <button class="unique-btn active-btn" type="button">
                    milk
                  </button>
                </li>
                <li>
                  <button class="unique-btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="unique-text-back">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system..
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item list">
        <div class="unique-component-box">
          <div class="unique-box-front nuts">
            <div class="unique-content">
              <picture>
                <source
                  srcset="
                    ../img/desktop/unique-components-nats-comp.png    1x,
                    ../img/desktop/unique-components-nuts-comp@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../img/mobile/unique-components-nats-tel.png    1x,
                    ../img/mobile/unique-components-nats-tel@2x.png 2x
                  "
                  media="(min-width: 375px)"
                />
                <img
                  class="unique-components-img"
                  src="../img/mobile/unique-components-nats-tel.png"
                  alt="nuts"
                  width="224"
                />
              </picture>
              <h2 class="unique-components-img-title">Nuts</h2>
            </div>
          </div>
          <div class="unique-box-back">
            <div class="unique-content">
              <h3 class="hidden-box-title">Nuts</h3>
              <ul class="unique-list-btn">
                <li>
                  <button class="unique-btn active-btn" type="button">
                    nuts
                  </button>
                </li>
                <li>
                  <button class="unique-btn" type="button">the benefits</button>
                </li>
              </ul>

              <p class="unique-text-back">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on
                their own, paired with
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item list">
        <div class="unique-component-box">
          <div class="unique-box-front">
            <div class="unique-content">
              <picture>
                <source
                  srcset="
                    ../img/desktop/unique-components-chocolate-bar-comp.png    1x,
                    ../img/desktop/unique-components-chocolate-bar-comp@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../img/mobile/unique-components-chocolate-bar-tel.png    1x,
                    ../img/mobile/unique-components-chocolate-bar-tel@2x.png 2x
                  "
                  media="(min-width: 375px)"
                />
                <img
                  class="unique-components-img"
                  src="../img/mobile/unique-components-chocolate-bar-tel.png"
                  alt="coffee"
                  width="224"
                />
              </picture>
              <h2 class="unique-components-img-title dark-title">
                SEMI - SWEET CHOCOLATE
              </h2>
            </div>
          </div>
          <div class="unique-box-back">
            <div class="unique-content">
              <h3 class="hidden-box-title">semi - sweet chocolate</h3>
              <ul class="unique-list-btn">
                <li>
                  <button class="unique-btn active-btn" type="button">
                    sweet chocolate
                  </button>
                </li>
                <li>
                  <button class="unique-btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="unique-text-back">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
