.advantages-section {
  background-color: #1e1823;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px;
}

.advantages-title {
  margin-bottom: 18px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.advantages-item:not(:last-child) {
  margin-bottom: 38px;
}
.advantages-item {
  padding-right: 28px;
}
.advantages-icon {
  fill: #fd9222;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
.advantages-wrapper {
  width: 336px;
}
@media screen and (max-width: 375px) {
  .advantages-section {
    max-width: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-section {
    padding: 50px 32px;
  }
  .advantages-item {
    padding-right: 0;
  }

  ul.advantages-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
  }

  .advantages-wrapper {
    width: 336px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section {
    max-width: 1200px;
    margin: 0 auto;
  }
  .advantages-wrapper {
    width: 326px;
  }
  ul.advantages-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
  }
  .advantages-item {
    padding-right: 0;
  }
}
