html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.advantages-container {
    
    padding-top: 20px;
    padding-bottom: 20px;

}

.advantages-section {
    background-color: #1E1823;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.advantages-title {
    margin-bottom: 18px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.advantages-item:not(:last-child) {
    margin-bottom: 38px;
}
.advantages-item{
    padding-right: 28px;
}
.advantages-icon {
    fill: #fd9222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
.advantages-container {
        min-width: 768px;

    }

    ul.advantages-list {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    .advantages-wrapper {
        width: 336px;
    }

    .advantages-item:not(:last-child) {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px){
    .advantages-wrapper {
            width: 336px;
        }
    ul.advantages-list {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;       
                 }
    .advantages-container {
        min-width: 1200px;

    }
}
