html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #1e1823;
  --text-color-white: #ffffff;
  --text-color-dark: #111111;
  --orange-color: #fd9222;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--main-bg-color);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-active{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.is-hidden-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.list {
  list-style: none;
}
.link-none {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 374.98px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}
/* десктоп */

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }
}
