.products {
  background-color: var(--main-bg-color);
  padding-top: 72px;
  padding-bottom: 72px;
}



.products-title span {
  color: var(--orange-color);
}
.products-title {
  text-transform: uppercase;
  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.products-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 32px;
}
.products-item {
  padding-top: 32px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 32px;
  align-items: center;
  text-align: center;
  background-color: var(--text-color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  max-width: 335px;
}
.products-name {
  margin-top: 8px;
}
.products-price {
  font-weight: 600;
  font-size: 14px;
}

.products-description {
  margin-top: 2px;
  color: var(--text-color-dark);
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
}

.products-button {
  margin-top: 18px;
  padding: 8px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: var(--main-bg-color);
}

.products-button:hover, .products-button:focus {
  background-color: var(--orange-color);
}

.products-title {
  text-align: center;
}
.products-slider-buttons {
  display: flex;
  gap: 13px;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.products-slider-buttons:first-child svg {
  fill: var(--orange-color);
}

.products-slider-buttons svg {
  fill: rgba(17, 17, 17, 0.1);
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 18px;
  }
  .products-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }

  .products-item {
    max-width: 270px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
  }
  .products-list {
    margin-top: 50px;
  }

  .products-slider-buttons {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1134px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .products {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .products-list {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .products {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
