.products {
  background-color: var(--main-bg-color);
  padding-top: 72px;
  padding-bottom: 72px;
}


.products-title span {
  color: var(--orange-color);
}
.products-title {
  text-transform: uppercase;
  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.products-list {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  list-style: none;
  margin-top: 32px;
  flex-wrap: nowrap;
}
.products-item {
  padding-top: 32px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 32px;
  align-items: center;
  text-align: center;
  background-color: var(--text-color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  /* max-width: 335px; */
}
.products-name {
  margin-top: 8px;
}
.products-price {
  font-weight: 600;
  font-size: 14px;
}

.products-description {
  margin-top: 2px;
  color: var(--text-color-dark);
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
}

.products-button {
  margin-top: 18px;
  padding: 8px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: var(--main-bg-color);
}

.products-button:hover, .products-button:focus {
  background-color: var(--orange-color);
}

.products-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products-list {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    list-style: none;
    margin-top: 50px;
  }
  .products-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }

  .products-item {
    /* max-width: 270px; */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
  }

  .products-slider-buttons {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .products-list {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
