 .section-subscribe{
    max-width:1200px;
    margin: auto;
    background-position: center;
    text-align: center;
    width:100%;
    padding: 62px 20px;
    background-size: cover;
    background-color: rgba(17, 17, 17, 0.7);;
    background-image: url(../img/mobile/explore-our-new-chocolate-first-1-tel.jpg);
} 
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-subscribe{
    background-image:
    url(../img/mobile/explore-our-new-chocolate-first-1-tel@2x.jpg)

  }
} 
.modal-subscribe{
    background-color:#FAFAFA;
    /* border: 1px solid black;
    border-radius: 15px; */
    width: 311px;
}
.box-subscribe{
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.title-subscribe{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: var(--text-color-white);
   
}
.modal-title-subscribe{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color:var( --text-color-dark);
    margin-bottom: 24px;
   
}

.span-subscribe{  
    font-family: 'Montserrat'; 
    color: var(--orange-color);
   

}
.text-subscribe{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.02em;
    display: flex;
    color:var(--text-color-white);
    
}
.subscribe-btn{
  padding: 12px 28px;
  border: 1px;
  border-radius: 100px;
  color:var(--text-color-white);
  background-color: var(--orange-color);
  transition: background-color 250ms linear;
   
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color:var(--orange-color);
  background-color: #FCF1E0;
}


/* ==========modal-form=============================================================== */
.img-subscribe{
    border-radius:  15px 15px 0 0;
}
.subscribe-modal-form {
    display: flex;
      }
.modal-form-field{
    position: relative;
}
.subscribe-btn-modal{
    position: absolute;
    right: 0;
}
.subscribe-form-input-desc{
    
}
.subscribe-modal{
    max-width: 263px;
}
 .subscribe-form-input-desc {
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);

  }    
  .modal-form-input-footer {
    width: 263px;
    height: 45px;
    outline: none;
    border-radius: 100px;
    padding: 14px 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    /* transition: border-color 250ms var(--timing-function); */
  } 
 
/* ==========@media screen=============================================================== */


@media screen and (min-width:376px) {
   
      .section-subscribe{
        width: 100%;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: url(../img/tablet/explore-our-new-chocolate-first-1-tabl.jpg)
  }
  

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-subscribe{
     background-image: url(../img/tablet/explore-our-new-chocolate-first-1-tabl@2x.jpg);
  }
}





@media screen and (min-width:768px){
    .title-subscribe{
        font-size: 24px;
        line-height: calc(28 / 24);
        max-width: 378px;
        margin-left: auto;
        margin-right: auto;
        }
        .box-subscribe{
            max-width: 467px;
           
        }

        .modal-title-subscribe{
            
            font-size: 24px;
            line-height: 1.17;
          
           
        }
      

        
        .span-subscribe{  
            font-family: 'Montserrat'; 
            color: var(--orange-color);
           
        
        }
        .section-subscribe{
            width: 100%;
            background-image: url(../img/desktop/explore-our-new-chocolate-first-1-comp.jpg)
      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) 
      {
        .section-subscribe{
         background-image: url(../img/desktop/explore-our-new-chocolate-first-1-comp@2x.jpg);
}
}
}