.top-sellers-txt {
  width: 306px;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 32px;

  margin-left: 20px;

}

.top-sellers-title {
  margin-bottom: 32px;
}
.top-sellers-picture {
  border-radius: 15px;
  margin: 0 auto;
}

.top-sellers {
  padding-bottom: 72px;
}
.top-sellers-button {

  position: static;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-width: 120px;
  height: 41px;
  background: #fd9222;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  transition: color 250ms linear, background-color 250ms linear;

}
.top-sellers-button:hover,
.top-sellers-button:focus {
  background: #fcf1e0;
  color: #fd9222;
}

@media screen and (max-width: 375px) {
  .top-sellers {
    max-width: 375px;
  }
  .top-sellers-picture {
    width: 100%;
  }
  /* .container {
    position: relative;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
  }

  .top-sellers-list {
    display: flex;
    gap: 16px;
  }
  .top-sellers-txt {
    margin-top: 32px;
  }
  .top-sellers-button {
    position: absolute;
    right: 0px;
    bottom: 80px;
  }
  .top-sellers {
    padding-bottom: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers {
    padding-bottom: 128px;
  }
  .top-sellers-txt {
    position: absolute;
    max-width: 407px;
  }
  .top-sellers-button {
    position: static;
    margin-right: 0;
  }
}
/* =======================MODAL THANK YOU======================= */
.thank_you_modal {
  max-width: calc(100vw - 40px);
  width: 311px;
  height: 350px;
  background-color: #fd9222;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
.backdrop-thank-you {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.thank-you-closed-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf1e0;
  border-radius: 50%;
  border-color: transparent;
  transition: background-color 250ms linear;
}
.thank-you-img {
  position: absolute;
  bottom: 0;
}
.thank-you-svg {
  width: 16px;
  height: 16px;
  fill: #f16529;
}
.thank-you-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fcf1e0;
}
.thank-you-txt {
  display: block;
  font-size: 14px;
  line-height: calc(16 / 14);

  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 219px;
}

.thank-you-txt-block {
  /* position: absolute; */
  margin-left: 58px;
  margin-top: 84px;
}
.thank-you-closed-btn:hover,
.thank-you-closed-btn:focus {
  background-color: #ffffff;
  fill: none;
}

@media screen and (min-width: 768px) {

  .container {
    position: relative;
  }
.top-sellers-txt {
  margin-left: 0;
}
  .top-sellers-list {
    display: flex;
    gap: 16px;
  }
  .top-sellers-txt {
    margin-top: 32px;
    margin-bottom: 0;
  }
  .top-sellers-button {
    position: absolute;
    right: 0px;
    bottom: 55px;
  }
  .top-sellers {
    padding-bottom: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers {
    padding-bottom: 128px;
  }
  .top-sellers-txt {
    position: static;
    max-width: 407px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .top-sellers-button {
    position: absolute;
    margin-right: 0;
    bottom: 58px;
  }
}
/* =======================MODAL THANK YOU======================= */
.thank_you_modal {
  max-width: calc(100vw - 40px);
  width: 311px;
  height: 350px;
  background-color: #fd9222;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
.backdrop-thank-you {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.thank-you-closed-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf1e0;
  border-radius: 50%;
  border-color: transparent;
  transition: background-color 250ms linear;
}
.thank-you-img {
  position: absolute;
  bottom: 0;
}
.thank-you-svg {
  width: 16px;
  height: 16px;
  fill: #f16529;
}
.thank-you-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fcf1e0;
}
.thank-you-txt {
  display: block;
  font-size: 14px;
  line-height: calc(16 / 14);

  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 219px;
}

.thank-you-txt-block {
  /* position: absolute; */
  margin-left: 58px;
  margin-top: 84px;
}
.thank-you-closed-btn:hover,
.thank-you-closed-btn:focus {
  background-color: #ffffff;
  fill: none;
}

@media screen and (min-width: 768px) {

  .thank_you_modal {
    width: 516px;
    height: 414px;
  }
  .thank-you-closed-btn {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
  .thank-you-svg {
    width: 22px;
    height: 22px;
  }
  .thank-you-txt-block {
    /* position: absolute; */
    margin-left: 163px;
    margin-top: 154px;
  }
  .thank-you-title {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  .thank-you-txt {
    font-size: 18px;
    line-height: calc(24 / 18);

    max-width: 309px;
  }
}
@media screen and (min-width: 1200px) {
}
